@media (prefers-color-scheme: dark) {
    :root {
	--background: var(--dark-background);

	--color: var(--dark-color);
	--color-10: var(--dark-color-10);
	--color-70: var(--dark-color-70);

	--color-link: var(--dark-color-link);
	--color-link-10: var(--dark-color-link-10);
	--color-link-30: var(--dark-color-link-30);
	--color-link-50: var(--dark-color-link-50);
	--color-link-70: var(--dark-color-link-70);
    }
}

@media (prefers-color-scheme: light) {
    :root {
	--background: var(--light-background);

	--color: var(--light-color);
	--color-10: var(--light-color-10);
	--color-70: var(--light-color-70);

	--color-link: var(--light-color-link);
	--color-link-10: var(--light-color-link-10);
	--color-link-30: var(--light-color-link-30);
	--color-link-50: var(--light-color-link-50);
	--color-link-70: var(--light-color-link-70);
    }
}

:root {
    scroll-behavior: smooth;
    --fade-animation-duration: 40s;

    --dark-background: #2D2D2D;
    --dark-color: #F0F0F0;
    --dark-color-10: rgba(240, 240, 240, 0.1);
    --dark-color-70: rgba(240, 240, 240, 0.7);
    --dark-color-link: #32AAFF;
    --dark-color-link-10: rgba(50, 170, 255, 0.1);
    --dark-color-link-30: rgba(50, 170, 255, 0.3);
    --dark-color-link-50: rgba(50, 170, 255, 0.5);
    --dark-color-link-70: rgba(50, 170, 255, 0.7);

    --light-background: rgb(230, 226, 206);
    --light-color: #282828;
    --light-color-10: rgba(40, 40, 40, 0.1);
    --light-color-70: rgba(40, 40, 40, 0.7);
    --light-color-link: rgb(214, 93, 13);
    --light-color-link-10: rgb(214, 93, 13, 0.1);
    --light-color-link-30: rgb(214, 93, 13, 0.3);
    --light-color-link-50: rgb(214, 93, 13, 0.5);
    --light-color-link-70: rgb(214, 93, 13, 0.7);
}

body {
    font-family: "IBM Plex Mono", monospace;
    font-family: "IBM Plex Sans", sans-serif;
    font-family: "IBM Plex Serif", serif;

    padding-left: 15%;
    padding-right: 15%;

    display: flex;
    flex-direction: row;

    background: var(--background);
    color: var(--color);
}

nav {
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: sticky;
    top: 2rem;
    z-index: 1;
    margin-left: auto;
}

nav strong {
    font-size: 12pt;
}

nav a {
    margin-top: 0.4rem;

    text-align: right;
    font-size: 10pt;

    text-decoration: none;
    color: var(--color);
    font-family: monospace;
    display: block;

    padding-bottom: 2px;
    background-image: linear-gradient(var(--color), var(--color));
    background-position: 100% 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
	color 0.5s,
	background-size 0.5s,
	background-position 0s 0.5s,
	background-image 0.5s;
    margin-bottom:0.5rem;
}

nav a:hover {
    background-position: 0% 100%;
    background-size: 100% 2px;
    background-image: linear-gradient(var(--color-link), var(--color-link));
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
}

main a {
    text-decoration: none;
    color: var(--color);

    padding-bottom: 2px;
    background-image: linear-gradient(var(--color), var(--color));
    background-position: 100% 100%;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    transition:
	color 0.5s,
	background-size 0.5s,
	background-position 0s 0.5s,
	background-image 0.5s;
}

main a:hover {
    color: var(--blue);
    background-position: 0% 100%;
    background-size: 0% 2px;
    background-image: linear-gradient(var(--color-link), var(--color-link));
}

.nav-a-active {
    background:  var(--color-link-30);
    border-right: 2px solid var(--color-70);
    border-left: 1px solid var(--color-link-70);
}

figure {
    background: var(--color-10);
    box-shadow: 4px 4px 0px 0px var(--color-70);
    padding: 1rem;
}

.fade-1 {
    animation-duration: var(--fade-animation-duration);
    animation-name: fade;
    animation-iteration-count: infinite;
}

.fade-2 {
    animation-duration: var(--fade-animation-duration);
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

.fade-3 {
    animation-duration: var(--fade-animation-duration);
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-delay: 10s;
}


.fade-4 {
    animation-duration: var(--fade-animation-duration);
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-delay: 15s;
}

.fade-5 {
    animation-duration: var(--fade-animation-duration);
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-delay: 20s;
}

@keyframes fade{
    0% {
	opacity: 100%;
    }

    20% {
	opacity: 0%;
    }

    100% {
	opacity: 100%;
    }
}

article>section {
    column-width: 65ch;
    column-count: 2;
    margin: 2rem;
    column-gap: -10.1em;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, var(--color), transparent);  
    text-align:center;
    margin-left:20%;
    margin-right:20%;
    margin-top:2rem;
    margin-bottom:2rem;
}

hr::after {
    content: "¶";
    display: inline-block;
    position: relative;
    top: -0.8rem;
    font-size: 1.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background: var(--background);
}

#menu-content {
    display: none;
    width: 9rem;
}

#menu-icon-close {
    display: none;
}

main>header {
    align-self: center;
}

main>article>section {
    columns: 2 auto;
    overflow-x: hidden;
}

#colors {
    margin-top: 100px;
    align-self: center;
}
