#education > article > article > small > a {
    color: #F0F0F0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;

    display:flex;
    justify-content:center;
    align-items: start;
    /* -webkit-align-items: center; */

    background:#2D2D2D;
    color: #F0F0F0;

    flex-direction: column;

    /* gruvbox dark */
    /* background:#282828; */
    /* color: #fbf1c7; */
}
section{
    scroll-margin-top: 2rem;
    margin-top: 6rem;
}

a {
    text-decoration:none;
    color:#32AAFF;
    
    /* gruvbox dark */

    /* #83a598; */

}

a:active{
    background-color: #32AAFF;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    /* top: 2rem; */
    top: 0;
    flex: 1;
    z-index: 1;
    align-self: stretch;
    background: #fbf1c7;
    text-align:center;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 0px #a89984;

}

nav ul {
    list-style-type: none;

}

.active-nav{


    padding-bottom:2px;
    background-image: linear-gradient(#282828, #282828);
    background-position: 100% 100%;
    background-size: 100% 4px;
    background-repeat: no-repeat;
    transition:
	background-size 0.5s,
	background-position 0s 0.5s;
}


nav a {
    text-decoration: none;
    margin:1rem;
    color:#282828;
    border:right: 1px solid #F0F0F0;
    font-family: monospace;


}
nav a:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
}

main {
    flex: 4;
    margin-left: 2rem;
    margin-top: 2rem;
}

#personal-data-article {
    display: grid;
    margin-left: 5rem;
    gap: 1rem;
}

address{
    margin-left: 5rem;
}

h3{
    text-align: center;
}
article>header>h1{
    text-align: center;
}


#internships-data {
    margin-left: 5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

#internships-data > article > strong > a{
    color: #F0F0F0;
    background-image: linear-gradient(#F0F0F0, #F0F0F0);
}
#internships-data > article > footer{
    margin-top: 0.2rem;
    margin-left: 0.8rem;
}

.company{
    display: flex;
    flex-direction: column;
}

@media (min-width: 720px){
    #internships-data {
	grid-template-columns: 1fr 1fr;
    }
    /* main{ */
    /* 	display:grid; */
    /* 	grid-template-columns: repeat(4,1fr); */
    /* } */
    main > header{
	/* display: grid; */
	/* grid-template-columns: repeat(4,1fr); */
	display: flex;
	justify-content: end;
    }
    /* body>header>img{ */
    /* 	grid-column-start:4; */

    /* } */
    /* body header h1{ */
    /* 	display:inline; */
    /* } */

    /* section{ */
    /* 	grid-column:1/span 4; */
    /* } */

    body{
	padding-left: 10%;
	padding-right: 10%;
	flex-direction: row;
    }
    #personal-data-article{
	grid-template-columns: repeat(3,1fr);
	/*todo: use this `grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));` instead of mediq queries */
    }
    .work {
	display: grid;
	margin-left: 5rem;
	gap: 1rem;
	grid-template-columns: 1fr 2fr 1fr;

    }
    .education {
	display: grid;
	margin-left: 5rem;
	gap: 1rem;
	grid-template-columns: 1fr 2fr 1fr;

    }
    nav a:hover {
	text-decoration: none;
	background:  rgba(50,170,255,0.3);
	border-left: 1px solid #32AAFF;
	transition: 0.5s;
    }
    nav a {
	display: block;
	color: #F0F0F0;
	/* background:#32AAFF; */

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;

	padding-right: 1rem;
	margin-right: -2px;

    }
    .active-nav {
	/* background-image: linear-gradient(to right, #2D2D2D , #32AAFF); */
	background:  rgba(50,170,255,0.35);
	
	/* text-shadow: 2px 2px 2px green; */
	border-right: 2px solid #F0F0F0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;

	padding-right: 1rem;
	margin-right:-2px;
	border-left: 1px solid #32AAFF;
    }

    nav {
	top: 2rem;
	align-self: start;
	background: none;
	box-shadow: none;
	border-right: 2px solid #32AAFF;
	margin-right:1rem;
    }
}

section > header > h1 {
    display: inline-block;
}

.underline {
    position: relative;
}

.underline::after{
    content: "";
    position: absolute;
    top: 1.8rem;
    left: 1.2rem;
    /* width: 10rem; */
    width: 100%;
    border-bottom: 0.4rem solid #d79921;
}

.color-yellow {
    color: #d79921;
}

@media print {
    
    #contact {
	margin-top: 1rem;
    }
    
    nav, main > footer, #education > article > em > abbr > a {
	display: none !important;
    }

    main {
	margin-left: 0;
    }

    .work {
	display: grid;
	margin-left: 0;
	gap: 1rem;
	grid-template-columns: 1fr 2fr 1fr;
    }

    #personal-data {
	page-break-after: always;
    }
    #frequentis {
	page-break-before: always;
    }
    body > main > header {
	/* padding: 200 mm; */
	/* padding-top: 20rem; */
	margin-top:12rem;
    }

    /*    main { */
    /* 	padding-top: 1rem; */
    /*    } */
    /* @page { */
    /*      size: A4; /\* DIN A4 standard, Europe *\/ */
    /*      margin:20mm; */
    /*    } */
    @page {
	margin: 0.5in;
    }
}

#content {
    position: relative;
}

#content::after {
    content: "";
    position: absolute;
    top: 2rem;
    left: -2rem;
    padding-right: 2rem;
    width: 100%;
    border-bottom: 0.4rem double rgba(215,153,33,0.5);
}

#name {
    /* width:28px; */
    /* height:28px; */
    position: relative;
}

#name::after {
    content: "";
    position: absolute;
    top: 2rem;
    left: -2rem;
    padding-right: 2rem;
    width: 100%;
    border-bottom: 0.4rem double rgba(215,153,33,0.5);
}

#avatar {
    width: 20%;
    border-radius: 2%;
    filter: drop-shadow(2px 2px 1px #32AAFF);
    /* margin-left:4rem; */
    margin-left: 2rem;
}

.company-name {
    margin-left: 0.5rem;
}
.right-of-fa {
    margin-left: 0.5rem;
}
main>section>article {
    margin-top:4rem;
}
main > section > h3 {
    margin-top:5rem;
}
.section-content {
    margin-left:5rem;
}


/* a { */
/*   display: inline-block; */
/*   text-decoration:none; */
/* } */

/* a::after { */
/*   content: ''; */
/*   width: 0%; */
/*   height: 2px; */
/*   display: block; */
/*   background: black; */
/*   transition: 1000ms; */
/* } */

/* a:hover::after { */
/*   width: 100%; */
/* } */

a {
    padding-bottom:2px;
    background-image: linear-gradient(#32AAFF, #32AAFF);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
	background-size 0.5s,
	background-position 0s 0.5s;
}

a:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
}
main > footer {
    margin-top:6rem;
}

#work-experience > article > article > div > strong > a {
    color: #F0F0F0;
    background-image: linear-gradient(#F0F0F0, #F0F0F0);    
}

#contact > address > div > i {
    margin-right: 0.5rem;
}
